@import url(https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&display=swap);
title {
    text-align: center;
    color: orange;
}
h1 {
    font-family: "Pacifico", cursive;
        color: #D2691E ;
        font-size: 50px;
        text-align: center;
}
h2 {
    font-family: "Caveat", cursive;
        color: #00008B;
        width: 30px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:  #008B8B;
}
ol {
    font-family: Arial, Helvetica, sans-serif;
}
table {
    width: 33%;
    margin: auto;
}
table, td, tr {
    border: 2px solid brown;
    border-collapse: collapse;
    background-color: antiquewhite;
}
body {
 background-image:url(https://blog.bauhaus.es/wp-content/uploads/2020/10/ideas-bricolaje-madera-1100x733.jpg) ;
 background-repeat: no-repeat; 
background-color: lightblue; 
background-position: center center; 
background-attachment: scroll;
background-size:100% 100% }